{% extends 'base.html' %}

{% block content %}
    <div class="video-page">
        <div class="video-container">
            <!-- Video original -->
            <h2>Video Original</h2>
            <video class="video-player" controls>
                <source src="{{ url_for('static', filename='videos/' + video) }}" type="video/mp4">
                Tu navegador no soporta videos.
            </video>
        </div>
        
        <!-- Botón para procesar el video -->
        <form action="{{ url_for('process_video_route', filename=video) }}" method="POST">
            <button type="submit">Procesar Video</button>
        </form>
    </div>
    <head>
        <style>
            .video-container {
                text-align: center;
                margin: 20px auto;
            }
    
            .video-player {
                width: 80%;
                max-width: 800px;
                height: auto;
            }
        </style>
    </head>
    
{% endblock %}
